/* Post Styling...*/
body {
  background-color: #131D24;
}

hr {
  border: 1px solid aqua;
}

.main-content {
  max-height: 800px;
  width: 90%;
  margin: 3%;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 0 23px 23px rgba(141, 141, 141, 0.3);
}

.dp-profile {
  height: 70px;
  width: 70px;
  border-radius: 70px;
  border: none;
  object-fit: cover;
  margin: 10px;
  background-color: lightgray;
}

.my-name {
  margin-top: -70px;
 margin-left: 82px;
  font-size: 1rem;
  font-weight: 800;
  display: flex;
  white-space: pre;
  overflow-x: auto;
}

.my-link {
  margin-top: -15px;
 margin-left: 82px;
  font-size: 0.8rem;
  font-weight: 400;
  color: gray;
}

.time {
  margin-top: -5px;
  font-weight: 800;
  color: limegreen;
  
}
.view-profile {
  margin-left: 68%;
  margin-top: -60px;
  border: none;
  background-color: aquamarine;
  font-size: 1rem;
  font-weight: 1000;
  border-radius: 10px;
  width: 30%;
  height: 40px;
}

.my-message {
  margin-top: 20px;
  background-color: ;
  width: 95%;
  margin-left: 0%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 23px 23px rgba(141, 141, 141, 0.5);
}

.message {
  word-break: break-word;
  margin: 10px;
  font-size: 0.9rem;
  font-weight: 600;
}

.my-image-post {
  max-height: 600px;
  width: 95%;
  object-fit: cover;
  background-color: transparent;
}

.my-video-post {
  max-height: 650px;
  width: 95%;
  object-fit: cover;
  background-color: transparent;
  
}
/*
End of Post Styling */